{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <div>
        <label><h1>Ethiopian Infant Children Vaccination Program</h1></label>
         <table style="border:1px soild balck;">
        {% for disease in disdic  %}
        <tr>
        <td style='border:1px solid black;'> {{disease.name}} </td>
        <td style='border:1px solid black;'>{{disease.rate}} </td>
        </tr>
         {% endfor %}
         </table>
    </div>  
</body>
</html>