
{% extends "base.html" %}
<!--{% load crispy_forms_tags %} -->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} 
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Article</legend>
                <h2>Are you sure you want to Delete the Article {% url 'object.Title' %}</h2>
              <!--  {{ form|crispy}} -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
                <a class="btn btn-outline-secondary"  href={% url 'magazine_detail' object.id %}>Cancel</button>
            </div>
        </form>
    </div>
{% endblock content %}